body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1C2120;
    color:white; 
}
body{
    display: grid;
    place-items: center; /* Centraliza horizontalmente e verticalmente */
    height: 100%;
}
main{
    display: flex; /* Usar flexbox para alinhar imagem e texto lado a lado */
    place-items: center;
    color: white;
    background-color: #1C2120;
    padding: 50px;
}
.title{
    text-align: center;
}
p{
    text-align: center;
}
.btn-primary, .btn-primary:focus, .btn-primary:hover{
    width: 350px;
    border: none;
    outline: none;
    color: black;
    background-color: #FCDA4D;
}
a{
    color: #FCDA4D;
    text-decoration: none;
}
.form-control, .form-control:focus{
    color: black;
    width: 350px;
    border: none;
    outline: white;
    background-color: #969696;
}
.formulario{
    margin-left: 50px;
}
#main{
    width: 380px;
    margin-right: 50px;
}
.principal{
    color: black;
}
@media (max-width: 600px) {
    main{
        place-items: center; /* Centraliza horizontal e verticalmente */
        height: 100vh; /* Opcional para centralizar verticalmente na tela */
        display: block; /* Usar flexbox para alinhar imagem e texto lado a lado */
        padding: 25px;
    }
    #main{
        width:200px;
        margin: 20px 0 20px 0;
        padding: 0;
        margin-right: 0;
    }
    form{
        margin:0 50px 0 50px;
    }
    .formulario{
        margin-left: 0;
    }
    .imagem{
        justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    display: flex;
    }
  }