*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

/* Estilos básicos para o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #040b14;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content:hover{
  cursor: pointer;
}

.dropdown-content a {
  color: #FCDA4D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1C2120;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body{
  position: relative;
  width: 100%;
  height: 100%;
}

#tags{
  color:#FCDA4D;
  text-decoration: none;
}

.hashtags{
  text-decoration: none;
}

#not{
  display: flex;
  flex-direction: column; /* Centraliza horizontalmente */
}

strong {
  font-size: 16px; /* Ajuste o valor conforme desejado */
}

#coment{
  font-size: 20px;
}

#comentario{
  margin-left: 15px;
}

.modal .infoUserPost{
  margin: 10px 10px;
}

button .main{
    font-size: 24px;
    cursor: pointer;
  }

.posts{
  display: grid;
  place-items: center;
}

main{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 90vw;
}

#not strong{
  text-align: start;
}

.headersaves >strong{
  width: 96%;
  font-size: 20px;
  color: #FCDA4D;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px;
  padding: 25px;

  float: right;
  
}

div.postsalvos ul#listaRecomendacoes .bi{
color: #FCDA4D;
}

div.postsalvos ul#listaRecomendacoes button.active:focus .bi-bookmark-fill{
  color: #fff;

}

.headersaves >strong{
  width: 96%;
  font-size: 20px;
  color: #FCDA4D;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px;
  padding: 25px;

  float: right;
  
}

.search{
  margin: 0 10px 0 10px;
}

.seu-comentario{
  display: flex;  
}

div.modal-content .formCom{
  margin-top: auto;
}

div.seu-comentario button{
  background-color: #FCDA4D;
  color: #040b14;
}
.conteudo_comment{
  height: 500px; 
  overflow: auto;
  flex: 1;
}

.modal {
  color: white;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hidden{
  display: none;
}

#listaRecomendacoes{
  list-style-type: none;
  padding: 0;
}

#filtroInput{
  margin: 0;
}

#usuario{
  justify-content: start;
  margin: 0;
  padding: 0;
}

.modal input{
  width: 80%;
}

#data{
  margin-bottom: 0;
}

/* Estilo para o conteúdo da tela sobreposta */
.modal-content {
  background-color: #040b14;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  height: 70vh;
  width: 70vw;
  border-radius: 10px;
  box-shadow: 1px 0 3px black;
  display: flex;
  flex-direction: column;
}

/* Estilo para o botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


body {
    background-color: #1C2120;
    color:white; 
    font-family: 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased !important;
  }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

#header div.profile{
  width: 80px;
  margin-bottom: 6px;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #1C2120;
    border-right: 2px solid black;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}
  .main {
    max-width: 900px;
    margin: 0 auto;
  }

  li.newPost{
    width: 80%;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;

    background: #040b14;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
    margin: 50px 0 20px 0;
  }
  .imgUserPost img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .imgUser img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .fundo{
    height: 200px;
    overflow: hidden;
}
.fundo img{
    width: 100%;
}

  li.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  li.newPost div.infoUser div.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FCDA4D;
  }

  li.newPost div.infoUser strong{
    color: #FCDA4D;
    margin-left: 10px;
  }

  li.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  li.newPost form.formPost textarea{
    height: 90px;
    background-color: #1C2120;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;
    width: 100%;
    border: transparent;
    box-shadow: none;

    font-family: 'Roboto', sans-serif;
    color: #fff;

  }

  .modal textarea, .modal input{
    height: 44px;
    background-color: #1C2120;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;
    width: 100%;
    border: transparent;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-right: 10px;
  }

  li.newPost form.formPost div.iconsAndButton{
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
  }

  li.newPost form.formPost div.iconsAndButton div.icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.newPost form.formPost div.iconsAndButton div.icons button{
   display: flex;
   float: left;
    outline: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    border: 0;

    background: none;

    cursor: pointer;
  }
  
  button.btnSubmitForm{
    background-color: #FCDA4D;
    padding: 10px 50px;
    color: #1C2120;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
  }

  #envio{
    height: auto;
    background-color: #FCDA4D;
    color: #1C2120;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
  }

  button.btnSubmitForm:hover{
    background: #1C2120;
    color: #FCDA4D;
  }

  ul.posts{
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0;
    margin: 0;
    width: 90%;
  }

  ul.posts li.post{
    padding: 25px;
    margin-bottom: 20px;
    background-color: #040b14;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
    width: 80%;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: list-item;
  }
/*
  li.newPost div.infoUser strong{
    font-size: 16px;
    color: #FCDA4D;
    margin-left: 10px;
  }
  width: 90%;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0px;
    
    */

  ul.posts li.post div.infoUserPost{
    display: flex;
    
  }

  ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FCDA4D;
    margin-right: 10px;
  }

  ul.posts li.post div.infoUserPost div.imgUserPost div.nameAndHour{
    align-items: center;
    justify-content: center;

  }

  /* n está funcionando */
  /* é para deixar somente o nome do usuário amarelo*/
  ul.posts li.post div.infoUserPost div.imgUserPost div.nameAndHour strong{  
    
    color: #FCDA4D;
  }

  /* n está funcionando*/
  /* é para deixar somente a hora na cor branca*/
  ul.posts li.post div.infoUserPost div.imgUserPost div.nameAndHour p{
   
    color: #fff;
    font-size: 12px;
  }

  ul.posts li.post >p{
    width: 100%;
    text-align: justify;
  }

  ul.posts li.post div.actionBtnPost{
    display: flex;
    align-items: center;
  }

  ul.posts li.post div.actionBtnPost button{
    padding: 5px 20px;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #FCDA4D;
    cursor: pointer;
    background-color: transparent;
  }
  
  ul.posts li.post div.actionBtnPost button.filesPost i{
    margin-right: 5px;
  }


/*--------------------------------------------------------------
# notifications.html
--------------------------------------------------------------*/

  ul.notifications li.notification{
    padding: 40px;
    margin-bottom: 10px;
    background-color: #040b14;
    border-radius: 15px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
    width: 90%;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .headerNot{
    order: -1;
  }

  .headerNot >strong{
    width: 100%;
    font-size: 20px;
    color: #FCDA4D;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0px;
    padding: 25px;

    float: right;
    
  }

  .headerNot div.notIcon {
    color: #FCDA4D;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

/*--------------------------------------------------------------
# search.html
--------------------------------------------------------------*/

div.busca{
  display: flex;
  flex-direction: column;
  width: 90%;
  border: none;
}

.barra{
  background-color: #040b14;
  padding: 0 10px 0 10px;
  border-radius: 20px;
}

div.busca div.pesquisa{
  margin: 50px 0 0 0;
  border-radius: 15px;
  float: right;
  width: 100%;
  border: none;
  align-items: center;
  justify-content: center;
  
 
}

div.busca div.barra >input{

  height: 60px;
  background-color: #040b14;
  margin-left: 0%;
  padding: 25px;
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 0;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  color: #fff;


}

div.busca div.pesquisa >button{
  color: #FCDA4D;
  background-color: #1C2120;
  border-radius: 10px;
  height: 60px;
  width: 10%;

}

div.busca div.pesqFiltro{
  align-items: center;
  justify-content: center;
  padding: 15px;
}

div.busca div.pesqFiltro button{ 
  padding: 5px 20px;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #FCDA4D;
  color: #040b14;
}

div.sugestoes ul{
  list-style: none;
}

#salvos, #perfil{
  display: block;
  width: 100vw;
}

ul#listaRecomendacoes{
  list-style: none;
  padding: 0;
  display: flex; /* Adicionando display: flex para o elemento pai */
  flex-wrap: wrap; /* Para envolver os itens se necessário */
}

ul#listaRecomendacoes li.search {
  height: 200px;
  overflow-y: auto;
  padding: 25px;
  margin-bottom: 20px;
  background-color: #040b14;
  border-radius: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0,0.2);
  list-style: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #000;
  margin: 10px; /* Margem de 10 pixels em todas as direções */
  width: calc((100% - 60px) / 3); /* Subtrai 60px (margem total) do total e divide por 3 */
}


ul#listaRecomendacoes li.search div.infoUserPost{
  display: flex;
  margin-right: 10px;
  
}

ul#listaRecomendacoes li.search div.infoUserPost div.imgUserPost{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FCDA4D;
  margin-right: 10px;
}

ul#listaRecomendacoes li.search >a{
  display: flex;
  flex-direction: column;
}
  

  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a, .nav-menu:focus{
  display: flex;
  align-items: center;
  color: #FCDA4D;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #040b14;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  justify-content: center;
}

.nav-menu span{
  margin-left: 7px;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu i:focus,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #040b14;
  background: #FCDA4D;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #040b14;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #040b14;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #040b14;
  background-color: #FCDA4D;
}

.pill{
    text-align: justify;
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    padding-right: 5%;
    max-width: 100%; 
    margin: 30px auto;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
}

main .bx, .bi{
    color: #FCDA4D;;
}

#saves{
  background-color: #040b14;
  text-align: center;
  justify-content: center;
  
}

#listaRecomendacoes button i{
  
  display: inline-block;
  padding: 8px 0;
  border-radius: 50%;
  text-align: right;
  transition: 0.3s;
}

div.postsalvos ul#listaRecomendacoes{
padding: 25px;
}

div.headerNot img{
  width: 100%;
}

.modal button{
  width: 20%;
}

/*-------------------------------------------
perfil.html
-------------------------------------------*/

div.imgperfil, div.dados{
  margin: 0 20px 0 20px;
}

div.dados{
  margin-bottom: 40px;
}

div.informacoes .fundo img{
  background-color: #040b14;
  width: 100%;
 
}

div.informacoes div.imgperfil{
  display: flex;
  justify-content: space-between;
}

div.informacoes div.imgperfil img{
  width: 100px;
  border-radius: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  height: 100px;
  object-fit: cover;
}

div.informacoes div.dados a{
  width: 2%;
  color: #FCDA4D;
 
}

div.informacoes div.infoseguidores{
  display: flex;
  padding-top: 3%;
}


div.informacoes div.infoseguidores p{
padding: 2%;
}

div.informacoes div.editar button{
  background-color: #FCDA4D;
    padding: 10px 30px;
    color: #1C2120;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
    margin-top: 10%;
}

div.informacoes div.editar button:hover{
background: #45505b;
color: #FCDA4D;
}

.popup-container {
  display: none;
  position: fixed;
  color: white;
  background-color: #040b14;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-container button {
  color: #FCDA4D;
  margin: 0 10px;
  padding: 8px 16px;
  cursor: pointer;
}

#imagem-preview0 {
  max-width: 400px;
  max-height: 300px;
  margin-top: 10px;
  display: none;
}
#imagem-preview1 {
  width: 100%;
  object-position: top;
  border-radius: 0px;
  display: none;
}

.preview-fundo{
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

/* Bolinha que indica onde está na página */
::-webkit-scrollbar-thumb {
  background-color: #FCDA4D;
  border-radius: 4px;
}

/* Track - a trilha onde a barra de rolagem percorre */
::-webkit-scrollbar-track {
  background-color: #040b14;
}







