*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

.search{
  margin: 0 10px 0 10px;
}

.seu-comentario{
  display: flex;
}

div.seu-comentario button{
  background-color: #FCDA4D;
  color: #040b14;
}

.modal {
  color: white;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal input{
  width: 80%;
}

/* Estilo para o conteúdo da tela sobreposta */
.modal-content {
  background-color: #040b14;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 80%;
  display: flex;
}

/* Estilo para o botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


body {
    background-color: #1C2120;
    color:white; 
    font-family: 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased !important;
  }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

#header div.profile{
  width: 80px;
  margin-bottom: 6px;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}
  .main {
    max-width: 900px;
    margin: 0 auto;
  }

  li.newPost{
    width: 90%;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0px;
    padding: 25px;

    background: #040b14;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
  }
  .imgUserPost img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .imgUser img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .fundo{
    height: 200px;
    overflow: hidden;
}
.fundo img{
    width: 100%;
}

  li.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  li.newPost div.infoUser div.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FCDA4D;
  }

  li.newPost div.infoUser strong{
    font-size: 16px;
    color: #FCDA4D;
    margin-left: 10px;
  }

  li.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  li.newPost form.formPost textarea{
    height: 90px;
    background-color: #1C2120;
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;
    width: 100%;

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;

  }

  li.newPost form.formPost div.iconsAndButton{
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
  }

  li.newPost form.formPost div.iconsAndButton div.icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li.newPost form.formPost div.iconsAndButton div.icons button{
   display: flex;
   float: left;
    outline: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    border: 0;

    background: none;

    cursor: pointer;
  }
  
  button.btnSubmitForm{
    background-color: #FCDA4D;
    padding: 10px 50px;
    color: #1C2120;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
  }

  button.btnSubmitForm:hover{
    background: #1C2120;
    color: #FCDA4D;
  }

  ul.posts li.post{
    padding: 25px;
    margin-bottom: 50px;
    background-color: #040b14;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
    width: 90%;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
/*
  li.newPost div.infoUser strong{
    font-size: 16px;
    color: #FCDA4D;
    margin-left: 10px;
  }
  width: 90%;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0px;
    
    */

  ul.posts li.post div.infoUserPost{
    display: flex;
    
  }

  ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FCDA4D;
    margin-right: 10px;
  }

  ul.posts li.post div.infoUserPost div.imgUserPost div.nameAndHour{
    align-items: center;
    justify-content: center;

  }

  /* n está funcionando */
  /* é para deixar somente o nome do usuário amarelo*/
  ul.posts li.post div.infoUserPost div.imgUserPost div.nameAndHour strong{  
    
    color: #FCDA4D;
  }

  /* n está funcionando*/
  /* é para deixar somente a hora na cor branca*/
  ul.posts li.post div.infoUserPost div.imgUserPost div.nameAndHour p{
   
    color: #fff;
    font-size: 12px;
  }

  ul.posts li.post >p{
    width: 100%;
    font-weight: bold;
    text-align: justify;
  }

  ul.posts li.post div.actionBtnPost{
    display: flex;
    align-items: center;
  }

  ul.posts li.post div.actionBtnPost button{
    padding: 5px 20px;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
    color: #FCDA4D;
    cursor: pointer;
    background-color: transparent;
  }
  
  ul.posts li.post div.actionBtnPost button.filesPost i{
    margin-right: 5px;
  }


/*--------------------------------------------------------------
# notifications.html
--------------------------------------------------------------*/

  ul.notifications li.notification{
    padding: 40px;
    margin-bottom: 10px;
    background-color: #040b14;
    border-radius: 15px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
    width: 90%;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .headerNot >strong{
    width: 90%;
    font-size: 20px;
    color: #FCDA4D;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0px;
    padding: 25px;

    float: right;
    
  }

  .headerNot div.notIcon {
    color: #FCDA4D;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

/*--------------------------------------------------------------
# search.html
--------------------------------------------------------------*/

div.busca{
  display: flex;
  flex-direction: column;
  width: 90%;
  border: none;
}

.barra{
  background-color: #1C2120;
  padding: 0 10px 0 10px;
  border-radius: 20px;
}

div.busca div.pesquisa{
  
  padding: 40px;
  margin: 20px;
  background-color: #040b14;
  border-radius: 15px;
  box-shadow: 1px 0 3px rgba(0,0,0,0.2);
  float: right;
  width: 100%;
  border: none;
  align-items: center;
  justify-content: center;
  
 
}

div.busca div.barra >input{

  height: 60px;
  background-color: #1C2120;
  margin-left: 0%;
  padding: 25px;
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 0;
  width: 80%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #fff;


}

div.busca div.pesquisa >button{
  color: #FCDA4D;
  background-color: #1C2120;
  border-radius: 10px;
  height: 60px;
  width: 10%;

}

div.busca div.pesqFiltro{

 
  background-color: #040b14;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

div.busca div.pesqFiltro button{ 
  padding: 5px 20px;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #FCDA4D;
  color: #fff;
}

div.sugestoes ul{

  background-color: #040b14;
  list-style: none;
 
}

ul.recomendacoes li.search{
    padding: 25px;
    margin-bottom: 50px;
    background-color: #040b14;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
    float: right;
    width: 30%;
    list-style: none;
    align-items: center;
    justify-content: center;
  
}

ul.recomendacoes li.search div.infoUserPost{
  display: flex;
  margin-right: 10px;
  
}

ul.recomendacoes li.search div.infoUserPost div.imgUserPost{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FCDA4D;
  margin-right: 10px;
}

ul.recomendacoes li.search >a{
  display: flex;
  flex-direction: column;
}
  

  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a{
  display: flex;
  align-items: center;
  color: #FCDA4D;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #040b14;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  justify-content: center;
}

.nav-menu span{
  margin-left: 7px;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu i:focus,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #040b14;
  background: #FCDA4D;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #040b14;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #040b14;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #FCDA4D;
}

.pill{
    text-align: justify;
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    padding-right: 5%;
    max-width: 100%; 
    margin: 30px auto;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
}
.bi,
main .bx{
    color: #FCDA4D;;
}

#saves{
  background-color: #040b14;
  text-align: center;
  justify-content: center;
  
}

.recomendacoes button i{
  
  display: inline-block;
  padding: 8px 0;
  border-radius: 50%;
  text-align: right;
  transition: 0.3s;
}

div.postsalvos ul.recomendacoes{
padding: 25px;
}

div.headerNot img{
  width: 100%;
}

.modal button{
  width: 20%;
}

/*-------------------------------------------
perfil.html
-------------------------------------------*/

div.informacoes .fundo img{
  background-color: #040b14;
  width: 100%;
 
}

div.informacoes div.imgperfil{
  display: flex;
  justify-content: space-between;
}



div.informacoes div.imgperfil img{
  width: 15%;
  border-radius: 80%;
 margin-bottom: 1%;
margin-top: 1%;
 
}

div.informacoes div.dados a{
  width: 2%;
  color: #45505b;
 
}

div.informacoes div.infoseguidores{
  display: flex;
  padding-top: 3%;
}


div.informacoes div.infoseguidores p{
padding: 2%;
}

div.informacoes div.editar button{
  background-color: #FCDA4D;
    padding: 10px 30px;
    color: #1C2120;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
    margin-top: 10%;
}




div.informacoes div.editar button:hover{
background: #45505b;
color: #FCDA4D;
}









